### Loading libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Importing data

In [3]:
Q1_2021 = pd.read_csv('Q1_2021 (1).csv')
Q2_2021 = pd.read_csv('Q2_2021 (1).csv')

### Data Shape Exploration

In [4]:
Q1_2021.head()

,FechaFactura,IdRegistro,Client,Branch,FechaApertura,FechaEntrega,Factura,Taller,TipoOrden,TipoPago,NumeroOT,Venta$,Costo$,Utilidad$,Margen,VentasNetas,VentaMO$,DescuentoMO$,CostoMO$,VentaMateriales$,DescuentoMateriales$,CostoMateriales$,VentaTOT$,DescuentoTOT$,CostoTOT$,VentaPartes$,DescuentoPartes$,CostoPartes$,VentaTotal$,CostoTotal$,Odometro,Vin,Ano,Marca,Modelo,Color,Dias
0,31/03/2021 00:00,995439,1522,20,09/03/2021 00:00,30/03/2021 00:00,114208,HOJALATERIA Y PINTURA,PUBLICO,CONTADO,60222,"$9,561.05","$4,113.27","$5,447.78",0.57,1,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$9,561.05",$0.00,"$4,113.27","$5,258.62",$0.00,"$3,223.98","$14,819.67","$7,337.25",143169,MMM148ED0EH603267,0,G,NaN,NaN,22.0
1,31/03/2021 00:00,995440,1522,20,09/03/2021 00:00,30/03/2021 00:00,114227,HOJALATERIA Y PINTURA,ASEGURADORA,NaN,60222,"$14,753.10","$5,880.56","$8,872.54",0.60,1,$51.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$14,702.10",$0.00,"$5,880.56",$0.00,$0.00,$0.00,"$14,753.10","$5,880.56",143169,MMM148ED0EH603267,0,G,NaN,NaN,22.0
2,31/03/2021 00:00,571394,1521,11,NaN,01/03/2021 00:00,5847,SERVICIO,INTERNA,INTERNO,59741,"-$1,711.21","-$1,711.21",$0.00,0.00,-1,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"-$1,711.21",$0.00,"-$1,711.21",$0.00,$0.00,$0.00,"-$1,711.21","-$1,711.21",60004,9BD578456GB074512,2016,M,NaN,BLANCOS,NaN
3,31/03/2021 00:00,995441,1522,20,09/03/2021 00:00,01/04/2021 00:00,53848,SERVICIO,INTERNA,INTERNO,59935,$0.00,$0.00,$0.00,0.00,0,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,4514,3G1MA5E21ML130621,0,G,NaN,NaN,22.0
4,31/03/2021 00:00,995442,1522,20,13/03/2021 00:00,14/04/2021 00:00,114194,HOJALATERIA Y PINTURA,ASEGURADORA,NaN,60405,"$6,512.89","$2,522.00","$3,990.89",0.61,1,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$6,512.89",$0.00,"$2,522.00","$21,287.43",$0.00,"$17,622.71","$27,800.32","$20,144.71",21456,MA6CB5CD8LT055964,0,G,NaN,NaN,18.0

In [5]:
print(f'Amount of rows and columns first quarter => {Q1_2021.shape}')
print(f'Amount of rows and columns second quarter => {Q2_2021.shape}')

Amount of rows and columns first quarter => (60061, 37)
Amount of rows and columns second quarter => (60197, 37)

> Both datasets have the same amount of columns, and almost the same a mount os rows(orders)

In [6]:
# Adding trimestre para hacer una sola base de datos
Q1_2021.insert(0, 'QPR', 'Q1')
Q2_2021.insert(0, 'QPR', 'Q2')

In [7]:
# Unir las dos dataframes 
df = pd.concat([Q1_2021, Q2_2021], axis=0)

In [9]:
df.head(5)

,QPR,FechaFactura,IdRegistro,Client,Branch,FechaApertura,FechaEntrega,Factura,Taller,TipoOrden,TipoPago,NumeroOT,Venta$,Costo$,Utilidad$,Margen,VentasNetas,VentaMO$,DescuentoMO$,CostoMO$,VentaMateriales$,DescuentoMateriales$,CostoMateriales$,VentaTOT$,DescuentoTOT$,CostoTOT$,VentaPartes$,DescuentoPartes$,CostoPartes$,VentaTotal$,CostoTotal$,Odometro,Vin,Ano,Marca,Modelo,Color,Dias
0,Q1,31/03/2021 00:00,995439,1522,20,09/03/2021 00:00,30/03/2021 00:00,114208,HOJALATERIA Y PINTURA,PUBLICO,CONTADO,60222,"$9,561.05","$4,113.27","$5,447.78",0.57,1,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$9,561.05",$0.00,"$4,113.27","$5,258.62",$0.00,"$3,223.98","$14,819.67","$7,337.25",143169,MMM148ED0EH603267,0,G,NaN,NaN,22.0
1,Q1,31/03/2021 00:00,995440,1522,20,09/03/2021 00:00,30/03/2021 00:00,114227,HOJALATERIA Y PINTURA,ASEGURADORA,NaN,60222,"$14,753.10","$5,880.56","$8,872.54",0.60,1,$51.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$14,702.10",$0.00,"$5,880.56",$0.00,$0.00,$0.00,"$14,753.10","$5,880.56",143169,MMM148ED0EH603267,0,G,NaN,NaN,22.0
2,Q1,31/03/2021 00:00,571394,1521,11,NaN,01/03/2021 00:00,5847,SERVICIO,INTERNA,INTERNO,59741,"-$1,711.21","-$1,711.21",$0.00,0.00,-1,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"-$1,711.21",$0.00,"-$1,711.21",$0.00,$0.00,$0.00,"-$1,711.21","-$1,711.21",60004,9BD578456GB074512,2016,M,NaN,BLANCOS,NaN
3,Q1,31/03/2021 00:00,995441,1522,20,09/03/2021 00:00,01/04/2021 00:00,53848,SERVICIO,INTERNA,INTERNO,59935,$0.00,$0.00,$0.00,0.00,0,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,4514,3G1MA5E21ML130621,0,G,NaN,NaN,22.0
4,Q1,31/03/2021 00:00,995442,1522,20,13/03/2021 00:00,14/04/2021 00:00,114194,HOJALATERIA Y PINTURA,ASEGURADORA,NaN,60405,"$6,512.89","$2,522.00","$3,990.89",0.61,1,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"$6,512.89",$0.00,"$2,522.00","$21,287.43",$0.00,"$17,622.71","$27,800.32","$20,144.71",21456,MA6CB5CD8LT055964,0,G,NaN,NaN,18.0

In [10]:
df.tail()

,QPR,FechaFactura,IdRegistro,Client,Branch,FechaApertura,FechaEntrega,Factura,Taller,TipoOrden,TipoPago,NumeroOT,Venta$,Costo$,Utilidad$,Margen,VentasNetas,VentaMO$,DescuentoMO$,CostoMO$,VentaMateriales$,DescuentoMateriales$,CostoMateriales$,VentaTOT$,DescuentoTOT$,CostoTOT$,VentaPartes$,DescuentoPartes$,CostoPartes$,VentaTotal$,CostoTotal$,Odometro,Vin,Ano,Marca,Modelo,Color,Dias
60192,Q2,04/04/2021 00:00,475901,1521,9,04/04/2021 00:00,05/04/2021 00:00,102698,SERVICIO,PUBLICO,CONTADO,34509,"$3,848.23","$1,275.25","$2,572.98",0.67,1,"$1,105.50",$0.00,$114.39,$147.92,$0.00,$0.00,"$2,594.81",$0.00,"$1,160.86","$1,246.60",$0.00,$787.17,"$5,094.83","$2,062.42",34837,1HGRW1844KL905654,2019,H,NaN,AZUL OBSIDIANA,0.0
60193,Q2,04/04/2021 00:00,475902,1521,9,04/04/2021 00:00,05/04/2021 00:00,102699,SERVICIO,PUBLICO,CONTADO,34497,"$2,294.98",$492.80,"$1,802.18",0.79,1,"$1,244.32",$0.00,$118.94,$145.50,$0.00,$0.00,$905.16,$0.00,$373.86,"$1,523.97",$0.00,$961.89,"$3,818.95","$1,454.69",93670,3HGRM3851EG003846,2014,H,NaN,NaN,0.0
60194,Q2,01/04/2021 00:00,1250885,1522,27,12/02/2021 00:00,18/03/2021 00:00,18430,SERVICIO,INTERNA,INTERNO,36702,$0.00,$0.00,$0.00,0.00,0,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,34686,3N1AB7AD7HL602467,2017,N,NaN,NaN,48.0
60195,Q2,01/04/2021 00:00,1250883,1522,27,14/11/2020 00:00,NaN,18431,HOJALATERIA Y PINTURA,INTERNA,INTERNO,33048,$0.00,$0.00,$0.00,0.00,0,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,2365,3N1CK3CD6JL260434,2018,N,NaN,NaN,138.0
60196,Q2,01/04/2021 00:00,1250884,1522,27,12/02/2021 00:00,18/03/2021 00:00,127,SERVICIO,INTERNA,INTERNO,36702,$0.00,$0.00,$0.00,0.00,0,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,"-$1,117.48",$0.00,$0.00,"-$1,117.48",$0.00,34686,3N1AB7AD7HL602467,2017,N,NaN,NaN,48.0

### Some basic EDA

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120258 entries, 0 to 60196
Data columns (total 38 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   QPR                   120258 non-null  object
 1   FechaFactura          120258 non-null  object
 2   IdRegistro            120258 non-null  int64
 3   Client                120258 non-null  int64
 4   Branch                120258 non-null  int64
 5   FechaApertura         106872 non-null  object
 6   FechaEntrega          114339 non-null  object
 7   Factura               120258 non-null  int64
 8   Taller                120258 non-null  object
 9   TipoOrden             119828 non-null  object
 10  TipoPago              116458 non-null  object
 11  NumeroOT              120258 non-null  int64
 12  Venta$                120258 non-null  object
 13  Costo$                120258 non-null  object
 14  Utilidad$             120258 non-null  object
 15  Margen                120258 non-null  float64
 16  VentasNetas           120258 non-null  int64
 17  VentaMO$              120258 non-null  object
 18  DescuentoMO$          120258 non-null  object
 19  CostoMO$              120258 non-null  object
 20  VentaMateriales$      120258 non-null  object
 21  DescuentoMateriales$  120258 non-null  object
 22  CostoMateriales$      120258 non-null  object
 23  VentaTOT$             120258 non-null  object
 24  DescuentoTOT$         120258 non-null  object
 25  CostoTOT$             120258 non-null  object
 26  VentaPartes$          120258 non-null  object
 27  DescuentoPartes$      120258 non-null  object
 28  CostoPartes$          120258 non-null  object
 29  VentaTotal$           120258 non-null  object
 30  CostoTotal$           120258 non-null  object
 31  Odometro              120258 non-null  int64
 32  Vin                   119957 non-null  object
 33  Ano                   120258 non-null  int64
 34  Marca                 120258 non-null  object
 35  Modelo                0 non-null       float64
 36  Color                 99021 non-null   object
 37  Dias                  107629 non-null  float64
dtypes: float64(3), int64(8), object(27)
memory usage: 35.8+ MB

In [12]:
df.isnull().sum()

QPR                          0
FechaFactura                 0
IdRegistro                   0
Client                       0
Branch                       0
FechaApertura            13386
FechaEntrega              5919
Factura                      0
Taller                       0
TipoOrden                  430
TipoPago                  3800
NumeroOT                     0
Venta$                       0
Costo$                       0
Utilidad$                    0
Margen                       0
VentasNetas                  0
VentaMO$                     0
DescuentoMO$                 0
CostoMO$                     0
VentaMateriales$             0
DescuentoMateriales$         0
CostoMateriales$             0
VentaTOT$                    0
DescuentoTOT$                0
CostoTOT$                    0
VentaPartes$                 0
DescuentoPartes$             0
CostoPartes$                 0
VentaTotal$                  0
CostoTotal$                  0
Odometro                     0
Vin                        301
Ano                          0
Marca                        0
Modelo                  120258
Color                    21237
Dias                     12629
dtype: int64

### Clean data

#### Necesito cambiar los valores de las columas de pago a floats para analisis

- Funcion para limpiar valores numericos

In [13]:
def clean_num_values(df, columns):
    df_temp = df.copy()
    for col in columns:
        df_temp[col] = df_temp[col].str.replace('$', '').str.replace(',', '').astype(float)
        
    return df_temp

In [14]:
columns_to_clean = [col for col in df.columns if '$' in col]  # Getting columns that needs to be clean

In [15]:
columns_to_clean

['Venta$',
 'Costo$',
 'Utilidad$',
 'VentaMO$',
 'DescuentoMO$',
 'CostoMO$',
 'VentaMateriales$',
 'DescuentoMateriales$',
 'CostoMateriales$',
 'VentaTOT$',
 'DescuentoTOT$',
 'CostoTOT$',
 'VentaPartes$',
 'DescuentoPartes$',
 'CostoPartes$',
 'VentaTotal$',
 'CostoTotal$']

In [16]:
df_num_clean = clean_num_values(df, columns_to_clean)

In [17]:
df_num_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120258 entries, 0 to 60196
Data columns (total 38 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   QPR                   120258 non-null  object
 1   FechaFactura          120258 non-null  object
 2   IdRegistro            120258 non-null  int64
 3   Client                120258 non-null  int64
 4   Branch                120258 non-null  int64
 5   FechaApertura         106872 non-null  object
 6   FechaEntrega          114339 non-null  object
 7   Factura               120258 non-null  int64
 8   Taller                120258 non-null  object
 9   TipoOrden             119828 non-null  object
 10  TipoPago              116458 non-null  object
 11  NumeroOT              120258 non-null  int64
 12  Venta$                120258 non-null  float64
 13  Costo$                120258 non-null  float64
 14  Utilidad$             120258 non-null  float64
 15  Margen                120258 non-null  float64
 16  VentasNetas           120258 non-null  int64
 17  VentaMO$              120258 non-null  float64
 18  DescuentoMO$          120258 non-null  float64
 19  CostoMO$              120258 non-null  float64
 20  VentaMateriales$      120258 non-null  float64
 21  DescuentoMateriales$  120258 non-null  float64
 22  CostoMateriales$      120258 non-null  float64
 23  VentaTOT$             120258 non-null  float64
 24  DescuentoTOT$         120258 non-null  float64
 25  CostoTOT$             120258 non-null  float64
 26  VentaPartes$          120258 non-null  float64
 27  DescuentoPartes$      120258 non-null  float64
 28  CostoPartes$          120258 non-null  float64
 29  VentaTotal$           120258 non-null  float64
 30  CostoTotal$           120258 non-null  float64
 31  Odometro              120258 non-null  int64
 32  Vin                   119957 non-null  object
 33  Ano                   120258 non-null  int64
 34  Marca                 120258 non-null  object
 35  Modelo                0 non-null       float64
 36  Color                 99021 non-null   object
 37  Dias                  107629 non-null  float64
dtypes: float64(20), int64(8), object(10)
memory usage: 35.8+ MB

#### Convert data time columns

In [ ]:
df_num_clean.FechaApertura